<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHAT APP</title>
    <link rel = "icon" href =  
    "https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/chat-circle-blue-512.png" 
            type = "image/x-icon"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
html,
body {
  width:100%;
  overflow: hidden;
  height: 100%;
  background-image:linear-gradient(white,grey,black)
}
</style>
  </head>


<body style="background-color: gr;">
 
  <div class="container" style="margin-right: auto; margin-left: auto; padding: 10px; margin-top: 15%;">
    <h1 style="text-align: center;" class="alert alert-primary"> CHAT APP</h1>
    <div class="" style="background:rgba(6, 89, 138, 0.397);border-radius: 10px;">
    <form action='/chat' method="GET" style="padding: 10px;">
        <div class="form-group">
          <label for="user">User</label>
          <input name="user" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User" required>
         </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Room</label>
          <input name="room" type="text" class="form-control" id="exampleInputPassword1" placeholder="GROUP NAME" required>
        </div>
        <button type="submit" class="btn btn-primary">Go</button>
      </form>
      </div>
      </div>
</body>

</html>